<div class="row nav-row">
  <div class="col-5 navHeading">
    <p>Movies</p>
  </div>

  <div class="col-1">
    <a routerLink="" routerLinkActive="active" [ngClass]="{ 'active': isLinkActive('/') }">Movies</a>
  </div>
  

  <div class="col-1">
    <a routerLink="tv-shows" routerLinkActive="active">TV Shows</a>
  </div>

  <div class="col-2">
    <a routerLink="watch-later" routerLinkActive="active">Watch Later</a>
  </div>

  <div class="col-3">
    <div>
      <label for="searchQuery">Search Movie:</label>
      <input type="text" id="searchQuery" [(ngModel)]="searchQuery" />
      <!-- <button (click)="searchMovies()">Search</button> -->
    </div>
    
  </div>
</div>

<div class="row">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>